

.home .hero h1, h1, .page h1{
    font-family: 'Luckiest Guy';
    font-size: 4rem;
}

@media screen and (max-width: 400px) {
    .home .hero h1, h1, .page h1{
        font-family: 'Luckiest Guy';
        font-size: 2.5rem;
    }
}
